<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@500&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: "Noto Sans Thai", sans-serif;
        }
    </style>
</head>
<body>

    <%- include('./App/nav') %>

    <h1 class="text-center text-blue-500 sm:text-2xl text-xl pb-5">แอดมินแดนบอร์ด</h1>

    <div class="flex justify-center px-5">
        <div class="max-w-7xl w-full grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5">

            <div class="sm:border-2 border border-orange-500 text-orange-500 rounded-md flex justify-between p-5">
                <div>
                    <span class="sm:text-4xl text-3xl"><ion-icon name="people-outline"></ion-icon></span>
                </div>
                <div class="text-end">
                    <p class="sm:text-base text-sm">ผู้ใช้ทั้งหมด</p>
                    <p class="text-end font-normal sm:text-3xl text-2xl pt-2">
                        <%= users.length %>
                    </p>
                </div>
            </div>

            <div class="sm:border-2 border border-blue-500 text-blue-500 rounded-md flex justify-between p-5">
                <div>
                    <span class="sm:text-4xl text-3xl"><ion-icon name="cube-outline"></ion-icon></span>
                </div>
                <div class="text-end">
                    <p class="sm:text-base text-sm">สินค้าทั้งหมด</p>
                    <p class="text-end font-normal sm:text-3xl text-2xl pt-2">
                        <%= totalProducts.length %>
                    </p>
                </div>
            </div>

            <div class="sm:border-2 border border-indigo-500 text-indigo-500 rounded-md flex justify-between p-5">
                <div>
                    <span class="sm:text-4xl text-3xl"><ion-icon name="trending-up-outline"></ion-icon></span>
                </div>
                <div class="text-end">
                    <p class="sm:text-base text-sm">กำไรทั้งหมด</p>
                    <p class="text-end font-normal sm:text-3xl text-2xl pt-2">
                        0
                    </p>
                </div>
            </div>

            <div class="sm:border-2 border border-rose-500 text-rose-500 rounded-md flex justify-between p-5">
                <div>
                    <span class="sm:text-4xl text-3xl"><ion-icon name="code-slash-outline"></ion-icon></span>
                </div>
                <div class="text-end">
                    <p class="sm:text-base text-sm">โค้ดเติมเงินทั้งหมด</p>
                    <p class="text-end font-normal sm:text-3xl text-2xl pt-2">
                        0
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="flex justify-center pt-5 px-5">
        <div class="w-full max-w-7xl">
            <h1 class="text-xl">
                ผู้ใช้งานระบบ
            </h1>
        </div>
    </div>

    <div class="flex justify-center px-5 py-5">
        <div class="w-full max-w-7xl sm:p-5 p-2 rounded-md shadow">
            <div class="md:flex block justify-between">
                <div class="flex gap-4 items-center">
                        <div class="flex border rounded-lg w-full">
                            <div class="flex items-center justify-center sm:px-4 px-3">
                                <svg class="sm:w-5 w-4 sm:h-5 h-4 text-blue-500" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z">
                                    </path>
                                </svg>
                            </div>
                            <input type="text" id="searchInput" placeholder="ค้นหาผู้ใช้" class="px-4 sm:py-2 py-1 w-80 text-zinc-700 md:text-base sm:text-sm text-xs rounded-lg" onchange="searchUsers()">
                        </div>
                    </form>
                </div>
                <div class="mt-2 md:mt-0 pb-2">
                    <button id="addUserBtn" class="flex gap-1 items-center bg-blue-500 hover:bg-blue-600 text-white px-4 rounded-md transition sm:text-sm text-xs">
                        <span class="md:text-xl sm:text-base text-sm sm:pt-[7px] pt-[2px]"><ion-icon name="add-circle-outline"></ion-icon></span>เพิ่มผู้ใช้
                    </button>
                </div>
            </div>
            <div id="addUserModal" class="z-[9999] fixed inset-0 overflow-y-auto hidden">
                <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                    <div class="fixed backdrop-blur-sm inset-0 transition-opacity">
                        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                    </div>
                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
                    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-full">
                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <h2 class="sm:text-lg text-base leading-6 text-gray-900 mb-5">เพิ่มผู้ใช้ใหม่</h2>
                            <form action="/add-user" method="POST">
                                <div class="mb-4">
                                    <label for="username" class="block sm:text-sm text-xs font-medium text-gray-700">ชื่อผู้ใช้ <span class="text-red-500">*</span></label>
                                    <input type="text" id="username" name="username" required
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 border px-2 py-1 block w-full shadow-sm sm:text-sm text-xs border-gray-300 rounded-md">
                                </div>
                                <div class="mb-4">
                                    <label for="password" class="block sm:text-sm text-xs font-medium text-gray-700">รหัสผ่าน <span class="text-red-500">*</span></label>
                                    <input type="password" id="password" name="password" required
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 border px-2 py-1 block w-full shadow-sm sm:text-sm text-xs border-gray-300 rounded-md">
                                </div>
                                <div class="mb-4">
                                    <label for="role" class="block sm:text-sm text-xs font-medium text-gray-700">บทบาท <span class="text-red-500">*</span></label>
                                    <select id="role" name="role" class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm text-xs py-1 px-2 rounded-md border-gray-300 rounded-md">
                                        <option value="admin">Admin</option>
                                        <option value="user">User</option>
                                    </select>
                                </div>
                                <div class="pt-5">
                                    <button type="submit"
                                        class="inline-flex justify-center w-full border border-transparent shadow-sm px-4 py-1 bg-blue-500 text-xs text-white transition hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:text-sm rounded-md">
                                        เพิ่มผู้ใช้
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="px-4 pb-3 sm:px-6 sm:flex sm:flex-row-reverse">
                            <button id="closeModalBtn" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-1 bg-red-500 text-xs text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">
                                ปิดหน้าต่าง
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="w-full h-[250px] overflow-y-auto">
                <div class="pl-5 pt-4">
                    <div class="flex md:gap-5 gap-2 md:text-base sm:text-sm text-xs">
                        <p class="sm:w-20 w-10">
                            ชื่อผู้ใช้
                        </p>
                        <p class="text-blue-500 sm:w-20 w-10">
                            บทบาท
                        </p>
                        <p class="text-indigo-500 sm:w-[30px] w-[50px]">
                            พ้อยท์
                        </p>
                    </div>
                </div>
                <% users.forEach(user => { %>
                    <li class="px-5 py-2 rounded-md shadow flex justify-between items-center my-4">
                        <div class="flex md:gap-5 gap-1 md:text-base sm:text-sm text-xs">
                            <p class="sm:w-20 w-10"><%= user.username %></p>
                            <p class="sm:w-20 w-18 sm:pl-0 pl-4 text-blue-500 flex sm:gap-2 gap-1"><span class="sm:text-lg text-sm"><ion-icon name="ribbon-outline"></ion-icon></span><%= user.role %></p>
                            <p class="sm:w-[30px] w-[50px] text-end text-indigo-500"><%= user.point %></p>
                        </div>
                        <div class="flex sm:gap-5 gap-2 items-center">
                            <div>
                                <button id="editRoleBtn" class="text-blue-500 sm:text-lg text-sm flex"><ion-icon name="create-outline"></ion-icon></button>
                                <div id="editRoleModal" class="z-[9999] fixed inset-0 overflow-y-auto hidden">
                                    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                                        <div class="fixed backdrop-blur-sm inset-0 transition-opacity">
                                            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                                        </div>
                                        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
                                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-full">
                                            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                                <h2 class="sm:text-lg text-base leading-6 text-gray-900 mb-5">แก้ไขบทบาทของผู้ใช้</h2>
                                                <form action="/edit-role" method="POST">
                                                    <div class="mb-4">
                                                        <label for="username" class="block sm:text-sm text-xs font-medium text-gray-700">ชื่อผู้ใช้ <span class="text-red-500">*</span></label>
                                                        <input type="text" id="username" name="username" readonly
                                                            class="mt-1 focus:ring-blue-500 focus:border-blue-500 border px-2 py-1 block w-full shadow-sm sm:text-sm text-xs border-gray-300 rounded-md">
                                                    </div>
                                                    <div class="mb-4">
                                                        <label for="role" class="block sm:text-sm text-xs font-medium text-gray-700">บทบาท <span class="text-red-500">*</span></label>
                                                        <select id="role" name="role"
                                                            class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm text-xs py-1 px-2 rounded-md border-gray-300 rounded-md">
                                                            <option value="admin">Admin</option>
                                                            <option value="user">User</option>
                                                        </select>
                                                    </div>
                                                    <div class="pt-5">
                                                        <button type="submit"
                                                            class="inline-flex justify-center w-full border border-transparent shadow-sm px-4 py-1 bg-blue-500 text-xs text-white transition hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:text-sm rounded-md">
                                                            บันทึก
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="px-4 pb-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                                <button id="closeEditRoleModalBtn" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-1 bg-red-500 text-xs text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">
                                                    ปิดหน้าต่าง
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <form action="/delete-user" method="POST">
                                <input type="hidden" name="username" value="<%= user.username %>">
                                <button type="submit" class="sm:text-xl text-sm text-red-500 flex"><ion-icon name="trash-outline"></ion-icon></button>
                            </form>
                            <form action="/delete-point" method="POST">
                                <input type="hidden" name="username" value="<%= user.username %>">
                                <button type="submit" class="text-orange-500 rounded-md pt-2 sm:text-xl text-sm"><ion-icon name="refresh-outline"></ion-icon></button>
                            </form>
                        </div>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>

    <div class="flex justify-center px-5 sm:py-10 py-5">
        <div class="max-w-7xl w-full">
            <div class="grid xl:grid-cols-7 lg:grid-cols-6 md:grid-cols-5 sm:grid-cols-4 grid-cols-3 lg:gap-10 gap-5">

                    <button id="addPointsBtn">
                        <div class="border border-indigo-500 text-indigo-500 rounded-md sm:py-5 py-3">
                            <div class="flex justify-center md:text-4xl sm:text-3xl text-2xl">
                                <ion-icon name="cash-outline"></ion-icon>
                            </div>
                            <div class="flex justify-center pt-2 md:text-base sm:text-sm text-xs">
                                <p>
                                    เพิ่มพ้อยท์
                                </p>
                            </div>
                        </div>
                    </button>
                    <div id="addPointsModal" class="z-[9999] fixed inset-0 overflow-y-auto hidden">
                        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                            <div class="fixed backdrop-blur-sm inset-0 transition-opacity">
                                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                            </div>
                            <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
                            <div class="inline-block z-[888] align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-full">
                                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                    <h2 class="sm:text-lg text-base leading-6 text-gray-900 mb-5">เพิ่มพ้อยท์</h2>
                                    <form action="/add-point" method="POST">
                                        <div class="mb-4">
                                            <label for="username" class="block sm:text-sm text-xs font-medium text-gray-700">ชื่อผู้ใช้ <span class="text-red-500">*</span></label>
                                            <input type="text" id="username" name="username" required class="mt-1 focus:ring-blue-500 focus:border-blue-500 border px-2 py-1 block w-full text-xs shadow-sm sm:text-sm border-gray-300 rounded-md">
                                        </div>
                                        <div class="mb-4">
                                            <label for="point" class="block sm:text-sm text-xs font-medium text-gray-700">จำนวนพ้อยท์ <span class="text-red-500">*</span></label>
                                            <input type="number" id="point" name="point" required class="mt-1 focus:ring-blue-500 focus:border-blue-500 border px-2 py-1 block w-full text-xs shadow-sm sm:text-sm border-gray-300 rounded-md">
                                        </div>
                                        <div class="pt-5">
                                            <button type="submit" class="inline-flex justify-center w-full border border-transparent shadow-sm px-4 py-1 bg-blue-500 text-xs font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:text-sm rounded-md transition">
                                                เพิ่มพ้อยท์
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="px-4 pb-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                    <button id="closeAddPointsModalBtn" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-1 bg-red-500 text-xs font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm transition">
                                        ปิดหน้าต่าง
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button id="addProductBtn" onclick="openAddProductModal()">
                        <div class="border border-orange-500 text-orange-500 rounded-md sm:py-5 py-3">
                            <div class="flex justify-center md:text-4xl sm:text-3xl text-2xl">
                                <ion-icon name="albums-outline"></ion-icon>
                            </div>
                            <div class="flex justify-center pt-2 md:text-base sm:text-sm text-xs">
                                <p>เพิ่มสินค้า</p>
                            </div>
                        </div>
                    </button>
                    <div id="addProductModal" class="px-5 fixed inset-0 bg-gray-800 z-[9999] backdrop-blur-sm bg-opacity-75 flex items-center justify-center hidden">
                        <div class="bg-white rounded-lg p-8 max-w-3xl w-full mx-auto">
                            <h2 class="sm:text-lg text-base mb-4">เพิ่มสินค้า</h2>
                            <form action="/add-product" method="POST">
                                <div class="mb-4">
                                    <label for="productName" class="block sm:text-sm text-xs font-medium text-gray-700">ชื่อสินค้า <span class="text-red-500">*</span></label>
                                    <input type="text" id="productName" name="name" placeholder="ชื่อสินค้า" required class="mt-1 focus:ring-orange-500 focus:border-orange-500 border px-2 py-1 border-gray-300 rounded-md shadow-sm w-full sm:text-sm text-xs">
                                </div>
                                <div class="mb-4">
                                    <label for="productPrice" class="block sm:text-sm text-xs font-medium text-gray-700">ราคา <span class="text-red-500">*</span></label>
                                    <input type="number" id="productPrice" name="price" placeholder="ราคา" required class="mt-1 focus:ring-orange-500 focus:border-orange-500 border px-2 py-1 border-gray-300 rounded-md shadow-sm w-full sm:text-sm text-xs">
                                </div>
                                <div class="mb-4">
                                    <label for="productDescription" class="block sm:text-sm text-xs font-medium text-gray-700">คำอธิบาย <span class="text-red-500">*</span></label>
                                    <textarea id="productDescription" name="description" placeholder="รายละเอียด" class="mt-1 focus:ring-orange-500 focus:border-orange-500 border px-2 py-1 border-gray-300 rounded-md shadow-sm w-full sm:text-sm text-xs"></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="productImage" class="block sm:text-sm text-xs font-medium text-gray-700">ลิงก์รูปภาพ <span class="text-red-500">*</span></label>
                                    <input type="text" id="productImage" name="image_url" placeholder="รูปภาพ URL" class="mt-1 focus:ring-orange-500 focus:border-orange-500 border px-2 py-1 border-gray-300 rounded-md shadow-sm w-full sm:text-sm text-xs">
                                </div>
                                <div class="mb-4">
                                    <label for="quantity" class="block sm:text-sm text-xs font-medium text-gray-700">จำนวน <span class="text-red-500">*</span></label>
                                    <input type="number" id="quantity" name="quantity" placeholder="จำนวนสินค้า" min="0" required class="mt-1 focus:ring-orange-500 focus:border-orange-500 border px-2 py-1 border-gray-300 rounded-md shadow-sm w-full sm:text-sm text-xs">
                                </div>
                                <div class="flex justify-end">
                                    <button type="submit" class="inline-flex justify-center py-1 px-4 border border-transparent shadow-sm sm:text-sm text-xs rounded-md text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500">เพิ่มสินค้า</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <button id="openEditWebsiteModalBtn">
                        <div class="border border-green-500 text-green-500 rounded-md sm:py-5 py-3">
                            <div class="flex justify-center md:text-4xl sm:text-3xl text-2xl">
                                <ion-icon name="settings-outline"></ion-icon>
                            </div>
                            <div class="flex justify-center pt-2 md:text-base sm:text-sm text-xs">
                                <p>ตั้งค่าเว็บ</p>
                            </div>
                        </div>
                    </button>
                    <div id="editWebsiteModal" class="z-[9999] fixed inset-0 overflow-y-auto hidden">
                        <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                            <div class="fixed backdrop-filter backdrop-blur-sm inset-0 transition-opacity">
                                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                            </div>
                            <span class="hidden sm:inline-block sm:align-middle sm:h-screen">&#8203;</span>
                            <div class="inline-block z-[991] align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-full">
                                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                                    <h2 class="sm:text-lg text-sm leading-6 text-gray-900 mb-5">แก้ไขชื่อเว็บไซต์</h2>
                                    <ul>
                                        <% websites.forEach(website => { %>
                                            <div>
                                                <p class="sm:text-sm text-xs"><%= website.name %></p>
                                            </div>
                                            <li class="flex items-center justify-between border-gray-300 py-2">
                                                <form action="/update-website" method="POST" class="flex items-center">
                                                    <input type="hidden" name="website_id" value="<%= website.id %>">
                                                    <input type="text" name="new_name" placeholder="ชื่อเว็บ" class="border border-gray-300 px-2 py-1 rounded-md mr-2 sm:text-sm text-xs" required>
                                                    <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded-md sm:text-sm text-xs">บันทึก</button>
                                                </form>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </div>
                                <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                                    <button id="closeEditWebsiteModalBtn" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-1 bg-red-500 sm:text-sm text-xs text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">ปิดหน้าต่าง</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-center pb-10 px-5">
        <div class="w-full max-w-7xl">
            <div class="sm:p-5 p-2 rounded-md w-full h-[300px] shadow overflow-y-auto">  
                <h1 class="sm:text-base text-sm">
                    สินค้าทั้งหมด
                </h1>
                <div class="pt-4">
                    <div class="flex md:gap-20 gap-5 md:text-base sm:text-sm text-[10px]">
                        <p>
                            รูปภาพ
                        </p>
                        <p class="text-blue-500">
                            ชื่อสินค้า
                        </p>
                        <p class="text-green-500">
                            ราคา
                        </p>
                        <p class="text-red-500">
                            รายละเอียด
                        </p>
                    </div>
                </div>
                <% products.forEach(product => { %>
                    <div class="flex p-2 w-full rounded-md shadow justify-between my-5">
                        <div class="flex md:gap-10 sm:gap-5 gap-2 items-center md:text-base sm:text-sm text-[10px]">
                            <img class="md:w-20 sm:w-14 w-10 rounded-md" src="<%= product.image_url %>" alt="<%= product.name %>">
                            <h3 class="text-blue-500"><%= product.name %></h3>
                            <p class="text-green-500">ราคา : <%= product.price %></p>
                            <p class="text-red-500">รายละเอียด : <%= product.description %></p>
                        </div>
                        <div class="flex items-center md:gap-5 gap-2 sm:pr-5 pr-2">
                            <form action="/edit-product" method="POST">
                                <input type="hidden" name="product_id" value="<%= product.id %>">
                                <button type="submit" class="md:text-2xl sm:text-xl text-base text-yellow-400"><ion-icon name="create-outline"></ion-icon></button>
                            </form>
                            <form action="/delete-product" method="POST">
                                <input type="hidden" name="product_id" value="<%= product.id %>">
                                <button type="submit" class="md:text-2xl  sm:text-xl text-base text-red-400"><ion-icon name="trash-outline"></ion-icon></button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    
    <%- include('./App/footer') %>

    <script>
        const addUserBtn = document.getElementById('addUserBtn');
        const addUserModal = document.getElementById('addUserModal');
        const closeModalBtn = document.getElementById('closeModalBtn');
        const editRoleBtns = document.querySelectorAll('#editRoleBtn');
        const editRoleModal = document.getElementById('editRoleModal');
        const closeEditRoleModalBtn = document.getElementById('closeEditRoleModalBtn');
        const addPointsBtn = document.getElementById('addPointsBtn');
        const addPointsModal = document.getElementById('addPointsModal');
        const closeAddPointsModalBtn = document.getElementById('closeAddPointsModalBtn');
        const openEditWebsiteModalBtn = document.getElementById('openEditWebsiteModalBtn');
        const editWebsiteModal = document.getElementById('editWebsiteModal');
        const closeEditWebsiteModalBtn = document.getElementById('closeEditWebsiteModalBtn');
        addUserBtn.addEventListener('click', () => {
            addUserModal.classList.toggle('hidden');
        });
        closeModalBtn.addEventListener('click', () => {
            addUserModal.classList.add('hidden');
        });
        editRoleBtns.forEach(btn => {
            btn.addEventListener('click', () => {
                editRoleModal.classList.toggle('hidden');
                const username = btn.closest('li').querySelector('p:first-child').textContent;
                const usernameInput = editRoleModal.querySelector('#username');
                usernameInput.value = username;
            });
        });
        closeEditRoleModalBtn.addEventListener('click', () => {
            editRoleModal.classList.add('hidden');
        });
        function searchUsers() {
            var searchText = document.getElementById("searchInput").value.toLowerCase();
            var users = document.querySelectorAll("ul > li");
            users.forEach(function(user) {
                var username = user.querySelector("p:first-child").textContent.toLowerCase();
                if (username.includes(searchText)) {
                    user.style.display = "flex";
                } else {
                    user.style.display = "none";
                }
            });
        }
        addPointsBtn.addEventListener('click', () => {
            addPointsModal.classList.toggle('hidden');
        });
        closeAddPointsModalBtn.addEventListener('click', () => {
            addPointsModal.classList.add('hidden');
        });
        function openAddProductModal() {
        var modal = document.getElementById('addProductModal');
        modal.classList.remove('hidden');
        }

        function closeAddProductModal() {
            var modal = document.getElementById('addProductModal');
            modal.classList.add('hidden');
        }
        function searchUsers() {
        var searchText = document.getElementById("searchInput").value.toLowerCase();
        var users = document.querySelectorAll("ul > li");
        users.forEach(function(user) {
            var username = user.querySelector("p:first-child").textContent.toLowerCase();
            if (username.includes(searchText)) {
                user.style.display = "flex";
            } else {
                user.style.display = "none";
            }
        });
        }
        openEditWebsiteModalBtn.addEventListener('click', () => {
        editWebsiteModal.classList.remove('hidden');
        });

        closeEditWebsiteModalBtn.addEventListener('click', () => {
            editWebsiteModal.classList.add('hidden');
        });
    </script>
    
</body>
</html>